{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  <div class="col-xs-12 col-md-8">
    <h1 class="text-center">{{nombre}}</h1>
    <div class="text-center img-responsive">
      <img src="{{ qrcode(url_for('check_lugar.enlace_lugar', key=key, id=id, _external=True)) }}" alt="{{ url_for('check_lugar.enlace_lugar', key=key, id=id, _external=True) }}">
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    {% if form is defined %}
      {{ wtf.quick_form(form) }}
    {% endif %}
  </div>
{% endblock %}
