{% from 'moment.html' import moment_buttons, moment_scripts %}

{% extends "layout.html" %}
{% block page_content %}
<div class="well">
    {% if (current_user and current_user.is_active): %} Hola {{ current_user.nombre }} | <a href="{{ url_for_security('logout') }}">Salir</a> {% if current_user.lugares: %}
    <div>
        <h3>Tus lugares:</h3>
        <ul>
            {% for lugar in current_user.lugares: %}
            <li>
                <a href="{{ url_for('check_lugar.generar_qr_lugar', id=lugar.id) }}">{{lugar}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %} {% else %} Hola extraño <a href="{{ url_for_security('login') }}">Entrar</a> {% endif %} {% if(current_user.has_role('admin')): %} | <a href="{{ url_for('admin.index') }}">Admin</a> {% endif %}
    {% if (current_user and current_user.has_role('admin')) %}
      {{ moment_buttons() }}
    {% endif %}
</div>

{% if (current_user and current_user.has_role('admin')) %}
<div class="well">
  <h2>Recursos olvidados:</h2>
  <ul>
    {% for recurso in recursos_olvidados: %}
      <li>
        {{recurso.Computadora.nombre}}@{{recurso.Computadora.Lugar.nombre}} - {{render_moment(recurso.fecha_hora_toma).fromNow()}}
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if (current_user and current_user.has_role('end-user')) %}
<div class="well">
  <h2>Lugares activos:</h2>
  {% if session['l_act']: %}
    <ul>
      {% for lugar in session['l_act']: %}
        <li>
          <a href="#">{{lugar.nombre}}</a> - {{render_moment(lugar.fecha_hora_entrada).fromNow()}}
        </li>
      {% endfor%}
    </ul>
  {% endif%}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{super()}}
{{ moment_scripts() }}
{% endblock %}
