{% extends "layout.html" %}
{% block page_content %}
  <div class="well">
    {% if (current_user and current_user.is_active): %}
      <ul>
      {% for rol in current_user.roles: %}
        <li>{{rol}}</li>
      {% endfor %}
      </ul>
      Hola user <a href="{{ url_for_security('logout') }}">Salir</a> | <a href="{{url_for('user_role', user=current_user.email, role='andres')}}">Url</a>
    {% else %}
      Hola extraño  <a href="{{ url_for_security('login') }}">Entrar</a>
    {% endif %}
   | <a href="{{ url_for('admin.index') }}">Admin</a>
  </div>
{% endblock %}
