{% extends "layout.html" %} {% block page_content %}
<div class="well">
    {% if (current_user and current_user.is_active): %} Hola {{ current_user.nombre }} | <a href="{{ url_for_security('logout') }}">Salir</a> {% if current_user.lugares: %}
    <div>
        <h3>Tus lugares:</h3>
        <ul>
            {% for lugar in current_user.lugares: %}
            <li>
                <a href="{{ url_for('check_lugar.generar_qr_lugar', id=lugar.id) }}">{{lugar}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %} {% else %} Hola extraño <a href="{{ url_for_security('login') }}">Entrar</a> {% endif %} {% if(current_user.has_role('admin')): %} | <a href="{{ url_for('admin.index') }}">Admin</a> {% endif %}
</div>
{% endblock %}
